<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="ca.ilanguage.aublog"
      android:versionName="1.1" 
      android:versionCode="11"
      android:installLocation="preferExternal">
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="11"/>
    
    <application android:icon="@drawable/ic_aublog" 
    	android:label="@string/app_name"
    	android:debuggable="false"
    	android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
    	<activity android:name="com.google.ads.AdActivity"
              android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:name="ca.ilanguage.aublog.ui.AuBlogHomeActivity"
                  android:label="@string/app_name">
            
        </activity>
		<activity android:name="ca.ilanguage.aublog.ui.RecordVoiceActivity"
                  android:label="@string/app_name">
        </activity>
    	<activity android:name="ca.ilanguage.aublog.ui.MainMenuActivity"
                  android:label="@string/app_name" 
                  
                  >
        	<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="ca.ilanguage.aublog.util.AndouKun" android:label="@string/app_name" 
   				  android:screenOrientation="landscape" 
     			  android:configChanges="keyboardHidden|orientation" 
     			  android:launchMode="singleTask"/>
            
        <activity android:name="ca.ilanguage.aublog.util.LevelSelectActivity"
	              android:screenOrientation="landscape" 
	              android:configChanges="keyboardHidden|orientation" />
                  
	    <activity android:theme="@style/Theme.ConversationDialog"
	              android:screenOrientation="landscape" 
                  android:configChanges="keyboardHidden|orientation" 
	    		  android:name="ca.ilanguage.aublog.util.ConversationDialogActivity"/>
	    
	    <activity android:name="ca.ilanguage.aublog.util.DiaryActivity"
				  android:screenOrientation="landscape" 
	   			  android:configChanges="keyboardHidden|orientation"/>
		     					
		     					
		<activity android:name="ca.ilanguage.aublog.preferences.SetPreferencesActivity"
				   />
		     					
    	<activity android:name="ca.ilanguage.aublog.util.AnimationPlayerActivity"
             	  android:screenOrientation="landscape" 
               	  android:configChanges="keyboardHidden|orientation" />
             
        <activity android:name="ca.ilanguage.aublog.util.ExtrasMenuActivity"
	               />
	              
		<activity android:name="ca.ilanguage.aublog.util.DifficultyMenuActivity"
	              android:screenOrientation="landscape" 
	              android:configChanges="keyboardHidden|orientation" />
	              
		<activity android:name="ca.ilanguage.aublog.util.GameOverActivity"
				  android:screenOrientation="landscape" 
	   			  android:configChanges="keyboardHidden|orientation"/>
	   			 
	   			 
	    <activity android:name="ca.ilanguage.aublog.ui.EditBlogEntryActivity" android:label="Create new post">
		</activity>
		<activity android:name="ca.ilanguage.aublog.ui.AuBlog" android:label="AuBlog"/>
	    <activity android:name="ca.ilanguage.aublog.ui.ViewDraftTreeActivity" android:label="View drafts">
		</activity>
	    <activity android:name="ca.ilanguage.aublog.ui.AboutActivity" android:label="About AuBlog">
		</activity>
	   	<activity android:name="ca.ilanguage.aublog.service.AudioToText" android:label="Record for speech recognition"
			android:theme="@style/Theme.Transparent">
		</activity>
		<activity android:name="ca.ilanguage.aublog.ui.PublishActivity" android:label="Publish post"
				android:theme="@style/Theme.Transparent">
		</activity>
		
		
		<provider android:name="ca.ilanguage.aublog.db.AuBlogHistoryProvider"
                  android:authorities="ca.ilanguage.aublog.provider.AuBlogHistory" />
		
		
	</application>
	<uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission xmlns:android="http://schemas.android.com/apk/res/android" 
		android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<receiver android:name="com.google.android.apps.analytics.AnalyticsReceiver" android:exported="true">
    	<intent-filter>
			<action android:name="com.android.vending.INSTALL_REFERRER" />
    	</intent-filter>
  	</receiver>
  	
    <supports-screens android:largeScreens="true"
		android:smallScreens="true" 
		android:anyDensity="true"
		android:normalScreens="true"/>
</manifest>